@{
    ViewBag.Title = "Compras";
    Layout = "~/Views/Shared/_Layout_Store.cshtml";
}
<style>
    .accordion-button {
        cursor: pointer !important;
    }
</style>
<div class="row mt-5 pt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Mis Compras</h4>
            </div>
            <div class="card-body">
                <div class="main-container main-container--flat" data-js="main-container" data-id="main_a9369dd7fe1d">
                    <div class="list-item-container" id="listItemContainer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_ModalPayment")

@section scripts {
    <script src="~/js/store/order.js"></script>
    <script src="~/js/store/payment.js"></script>
}
