@{
    ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_Layout_Store.cshtml";
}

<div class="row mt-5 pt-5 p-2">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-7 offset-1">
                    <div class="product-details mr-2">
                        <div class="d-flex justify-content-between">
                            <span class="ml-2">Productos</span>
                            <a class="btn btn-primary" href="@Url.Action("Index","Store")"><i class="fa-brands fa-opencart"></i>&nbsp; Agregar más productos al carrito</a>
                        </div>
                        <hr class="mt-2 mb-2">
                        <div id="productos-seleccionados">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-light">
                        <div class="card-header">
                            <h5 class="modal-title">Resumen Compra</h5>
                        </div>
                        <div class="card-body">
                            <div class="justify-content-start mb-1">
                                Tienes <span id="cantidad-articulos" class="ml-1">0</span> artículo(s) en tu carrito
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between information"><span>Total a Pagar</span><span id="totalPagar">$ 0</span></div>
                            <hr class="line">
                            <button class="btn btn-primary mt-1 mb-2" id="btnConfirmarCompra" type="button">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--MODAL-->
@Html.Partial("_ModalPayment")

@section scripts {
    <script src="~/js/store/shoppingcart.js"></script>
    <script src="~/js/store/payment.js"></script>
}
